@font-face{
	font-family: raleway;
	src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

body{
	font-family: raleway;
	margin: 0;
	padding: 0;
}

.big-wrapper{
	background-image: url("../img/dd.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	height: 600px;
	border-top: 10px solid #0893d4;
}
.big-wrapper .container .navbar-toggle:hover{
	background-color: #0893d4;
}
.big-wrapper .container .navbar-toggle .icon-bar{
	background-color: #fff;
}
#navigation{
	background: none;
	border: 0;
	margin-top: 60px;
	color: #fff;
}
#navigation a{
	color: #fff;
}
#navigation a:hover{
	color: #dbdbdb;
}
.banner{
	position: relative;
	top: 100px;
}
.banner h1{
	color: #fff;
	text-align: center;
	font-size: 68px;
	font-weight: 100;
}
.banner p{
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
	margin-top: 18px;
}

.content{
	padding: 100px 20px;
}
.content h3{
	font-weight: 900;
	color: #0893d4;
	line-height: 38px;
	margin-bottom: 28px;
}
.content p{
	color: grey;
	line-height: 38px;
	font-weight: 900;
}
.content .add-border{
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}
.mybutton{
	background-color: #0893d4;
	border: 0;
	font-weight: 900;
	color: #fff;
	padding: 10px 28px;
	margin: 20px 0;
}

.team{
	background-color: #0893d4;
	color: #fff;
	padding: 80px 0;
}
.team h1{
	font-weight: 100;
	font-size: 45px;
}
.team p{
	color: #dbdbdb;
	font-weight: 400;
	margin-top: 20px;
}
.team .person{
	border: 1px solid #dbdbdb;
	padding: 18px;
	margin: 20px 0;
}
.team img{
	width: 100%;
}
.team h4{
	font-weight: 900;
	margin-top: 20px;
}
.person p{
	margin: 10px 0;
}

.two-section{
	padding: 80px 0;
}
.two-section h1{
	font-weight: 100;
	font-size: 45px;
	color: #0893d4;
}
.two-section p{
	color: grey;
	font-weight: 400;
	margin-top: 20px;
}
.two-section  .sections img{
	width: 100%;
}
.two-section .sections{
	text-align: left;
	margin-top: 48px;
	padding-right: 10px;
}
.two-section .padding{
 padding-left: 10px;
 padding-right: 0;
}
.two-section .sections h4{
	color: #0893d4;
	margin: 20px 0;
}

.footer{
 border-top: 1px solid #dbdbdb;
}
.footer p{
 color: grey;
 font-size: 15px;
 text-align: left;
 line-height: 20px;
}
.footer .social{
 color: #0893d4;
 letter-spacing: 4px;
 font-size: 18px;
 text-align: right;
 margin-top: 18px;
}




@media only screen and (max-width: 768px){
 
    .content{
		text-align: center;
		padding: 100px 0px;
    }
	.content .add-border{
		border: 0;
	}
    .mybutton{
		padding: 10px 40%;
		font-size: 25px;
    }
	.team .person{
		margin: 50px 0;
	}
	.person img{
		width: 80%;
	}
	.person h4 {
		font-size: 50px;
	}
	.person p {
		font-size: 38px;
	}
	
	.two-section .sections{
		padding: 0;
	}
	.two-section .sections .mybutton{
		width: 100%;
	}
	
	.footer p{
		font-size: 15px;
	}
	.footer .social{
		font-size: 18px;
		margin-top: 20px;
	}
	
}






